.c2{
	background-color: #636216;
	color: indianred;
	margin-left: 120px;
}
.c1{
	width: 300px;
	background-color: skyblue;
	margin-top: 30px;
	margin-left: 500px;
}
.c3{
	width: 300px;
	text-align: center;
}
.c4{
	text-align: center;
	margin-left: 125px;
}
.c5{
	margin-left: 100px;
}
.c6{
	margin-left: 70px;
}